/*@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf"); }
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/poppins/Poppins-Medium.ttf"); }
@font-face {
  font-family: "Muli-Bold";
  src: url("../fonts/muli/Muli-Bold.ttf"); }
@font-face {
font-family: "Poppins-Light";
src: url("../fonts/poppins/Poppins-Light.ttf"); }
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700|Hind:400,500,600,700|Quattrocento:400,700");*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  /*font-family: "Poppins-Regular";*/
  font-size: 0.897rem;
  background-color: #fff;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
}

:focus {
  outline: none; }

textarea {
  resize: none; }

input, textarea, select, button {
  /*font-family: "Poppins-Regular";*/
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

/*select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: none; }
  select option[value=""][disabled] {
    display: none; }
*/

img {
  max-width: 100%;
  vertical-align: middle; }

.form-control{
    font-size: 0.85rem;
}

.navbar{
    background-color: #fff8f0;
    border-bottom: 10px solid #fcd1c8;
}

.page-footer {
    background-color: #fff8f0;
    margin-bottom: 50px;
}

.logo-img{
    max-height: 70px;
}

.shopping-img{
    max-width: 140px;
}

.footer-logo{
    color: #212529;
}

.footer-logo:hover{
    text-decoration: none;
    color: #6c757d;
}

@media (min-width: 768px){
    .logo-img{
        max-height: 100px;
    }

    .shopping-img{
        max-width: 240px;
    }
}

.btn-primary{
    background-color: #fcd1c8;
    border-color: #fcd1c8;
    color: #333;
}

.btn-primary:hover{
    background-color: #FCC5B3;
    border-color: #FCC5B3;
    color: white;
}

.btn-primary:focus, .btn-primary.focus {
    background-color: #FCC5B3;
    box-shadow: 0 0 0 0.2rem rgba(251, 195, 176, 0.39);
    color: white;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #333;
  background-color: #fcd1c8;
  border-color: #fcd1c8;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #FCC5B3;
  border-color: #FCC5B3;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(251, 195, 176, 0.39);
}

#wrap{
    position: relative;
    min-height: 100vh;
    padding-bottom: 240px;
}

footer{
    margin-top: -200px;
}

.loading{
    background: #fff8f0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: auto;
    display: none;
}

.loading-visible{
    display: block;
}

body.load{
    overflow: hidden;
}

.loading-gif{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}